a {
  color: #212121;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.fetch_form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tr {
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  display: flex;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  width: 645px;
}

.tr p {
  min-width: 400px;
  color: #333;
}
.form_cl {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
}
